<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>집사의노트 점주 포털</title>
    <link rel="stylesheet" href="/static/css/foundation.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
</head>
<body>
    <div class="title-bar">
        <div class="title-bar-left">
            <span class="title-bar-title">집사의노트 점주 포털</span>
        </div>
        <div class="title-bar-right">
            <button class="hollow button tiny" style="margin: 0" onclick="location.href = location.origin + '/login'">
                로그인
            </button>
            <button class="hollow button tiny" style="margin: 0" onclick="location.href = location.origin + '/register'">
                회원가입
            </button>
        </div>
    </div>
    <div class="grid-container">
        <div class="grid-x align-center">
            <div class="cell">
                <h1 class="text-center custom-daemon-title">집사의노트 점주 포털</h1>
                <h3 class="text-center custom-daemon-subtitle">자신이 운영하는 지점의 리뷰, 예약, 상품 관리를 손쉽게 할 수 있습니다</h3>
            </div>

        </div>
    </div>
    <script src="/static/js/vendor/jquery.js"></script>
    <script src="/static/js/vendor/what-input.js"></script>
    <script src="/static/js/vendor/foundation.min.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>
</html>
